<section class="advanteges">
  <div class="container">
    <h3 class="adv-subtitle">Переваги</h3>
    <h2 id="advanteges" class="adv-title">Чому обрати нас?</h2>
    <p class="adv-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="adv-list">
      <li class="adv-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/advantages/adv-desk-1-min.jpg    1x,
              /img/advantages/adv-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/advantages/adv-tab-1-min.jpg    1x,
              /img/advantages/adv-tab-1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/advantages/adv-mob-1-min.jpg    1x,
              /img/advantages/adv-mob-1@2x-min.jpg 2x
            "
          />
          <img
            src="/img/advantages/adv-desk-1-min.jpg"
            alt="Стійкість та екологічність"
          />
        </picture>
        <h4>Стійкість та екологічність</h4>
        <p>Виготовлені з органічної бавовни та переробленого пластику.</p>
      </li>
      <li class="adv-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/advantages/adv-desk-2-min.jpg    1x,
              /img/advantages/adv-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/advantages/adv-tab-2-min.jpg    1x,
              /img/advantages/adv-tab-2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/advantages/adv-mob-2-min.jpg    1x,
              /img/advantages/adv-mob-2@2x-min.jpg 2x
            "
          />
          <img
            src="/img/advantages/adv-desk-2-min.jpg"
            alt="Міцність і довговічність"
          />
        </picture>
        <h4>Міцність і довговічність</h4>
        <p>Наші сумки мають посилені шви для тривалого використання.</p>
      </li>
      <li class="adv-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/advantages/adv-desk-3-min.jpg    1x,
              /img/advantages/adv-desk-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/advantages/adv-tab-3-min.jpg    1x,
              /img/advantages/adv-tab-3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/advantages/adv-mob-3-min.jpg    1x,
              /img/advantages/adv-mob-3@2x-min.jpg 2x
            "
          />
          <img
            src="/img/advantages/adv-desk-3-min.jpg"
            alt="Стильний та сучасний дизайн"
          />
        </picture>
        <h4>Стильний та сучасний дизайн</h4>
        <p>Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
      </li>
    </ul>
  </div>
</section>
