<section class="assortment">
  <div class="container">
    <h2 class="ass-title" id="assortment">Наші сумки</h2>
    <ul class="ass-list">
      <li class="ass-list-item">
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-1.jpg    1x,
                /img/assortment/bag-1-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-1-tab.jpg    1x,
                /img/assortment/bag-1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-1-mob.jpg    1x,
                /img/assortment/bag-1-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-1.jpg"
              alt="Бежева, містка сумка з органічної бавовни"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <h3 class="ass-sub-title">EcoBag Classic</h3>
            <p class="ass-text">
              Елегантна та містка сумка для щоденного використання.
            </p>
          </div>
          <p class="ass-text-price">$25</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
      <li class="ass-list-item">
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-2.jpg    1x,
                /img/assortment/bag-2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-2-tab.jpg    1x,
                /img/assortment/bag-2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-2-mob.jpg    1x,
                /img/assortment/bag-2-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-2.jpg"
              alt="Бежева, міцна сумка для покупок"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <h3 class="ass-sub-title">EcoTote Shopper</h3>
            <p class="ass-text">Ідеальна для покупок, з посиленими ручками.</p>
          </div>
          <p class="ass-text-price">$30</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
      <li class="ass-list-item">
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-3.jpg    1x,
                /img/assortment/bag-3-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-3-tab.jpg    1x,
                /img/assortment/bag-3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-3-mob.jpg    1x,
                /img/assortment/bag-3-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-3.jpg"
              alt="Рюкзак оливково-зеленого кольору"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <h3 class="ass-sub-title">EcoBackpack Urban</h3>
            <p class="ass-text">
              Зручний рюкзак для міста з відділенням для ноутбука.
            </p>
          </div>
          <p class="ass-text-price">$45</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
      <li class="ass-list-item">
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-4.jpg    1x,
                /img/assortment/bag-4-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-4-tab.jpg    1x,
                /img/assortment/bag-4-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-4-mob.jpg    1x,
                /img/assortment/bag-4-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-4.jpg"
              alt="Компактна сумка-кросбоді з льону"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <h3 class="ass-sub-title">EcoCrossbody Mini</h3>
            <p class="ass-text">
              Компактна сумка через плече для найнеобхіднішого.
            </p>
          </div>
          <p class="ass-text-price">$20</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
      <li>
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-5.jpg    1x,
                /img/assortment/bag-5-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-5-tab.jpg    1x,
                /img/assortment/bag-5-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-5-mob.jpg    1x,
                /img/assortment/bag-5-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-5.jpg"
              alt="Сумка для ланчу з органічної бавовни"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <h3 class="ass-sub-title">EcoLunch Bag</h3>
            <p class="ass-text">Стильна та практична сумка для обідів.</p>
          </div>
          <p class="ass-text-price">$15</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
      <li class="ass-list-item">
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-6.jpg    1x,
                /img/assortment/bag-6-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-6-tab.jpg    1x,
                /img/assortment/bag-6-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-6-mob.jpg    1x,
                /img/assortment/bag-6-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-6.jpg"
              alt="Велика пляжна сумка в кремових і блакитних тонах з мотузяними ручками"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <h3 class="ass-sub-title">EcoBeach Tote</h3>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <p class="ass-text">
              Велика сумка для пляжних речей з водонепроникною підкладкою.
            </p>
          </div>
          <p class="ass-text-price">$35</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
      <li class="ass-list-item">
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-7.jpg    1x,
                /img/assortment/bag-7-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-7-tab.jpg    1x,
                /img/assortment/bag-7-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-7-mob.jpg    1x,
                /img/assortment/bag-7-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-7.jpg"
              alt="Містка дорожня сумка темно-зеленого кольору з зовнішніми кишенями"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <h3 class="ass-sub-title">EcoTravel Duffle</h3>
            <p class="ass-text">Містка дорожня сумка з додатковими кишенями.</p>
          </div>
          <p class="ass-text-price">$60</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
      <li class="ass-list-item">
        <div class="thumb">
          <picture>
            <source
              srcset="
                /img/assortment/bag-8.jpg    1x,
                /img/assortment/bag-8-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="310"
              height="372"
            />
            <source
              srcset="
                /img/assortment/bag-8-tab.jpg    1x,
                /img/assortment/bag-8-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="408"
            />
            <source
              srcset="
                /img/assortment/bag-8-mob.jpg    1x,
                /img/assortment/bag-8-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="346"
            />
            <img
              src="/img/assortment/bag-8.jpg"
              alt="Яскравий дитячий рюкзак з барвистими принтами"
              width="310"
              height="372"
            />
          </picture>
        </div>
        <div class="ass-list-item-text">
          <div class="ass-text-container">
            <h3 class="ass-sub-title">EcoKids Bag</h3>
            <p class="ass-text">Яскрава та зручна сумка для дітей.</p>
          </div>
          <p class="ass-text-price">$22</p>
        </div>
        <button class="ass-btn" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>
