<section class="feedback" >
  <div class="container">
    <h2  id="feedback" class="feed-title">Що говорять наші клієнти</h2>
    <ul class="feed-list">
      <li class="feed-item">
        <div class="star-wrap">
          <ul class="star-list">
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="feed-text">Сумка дуже зручна та стильна, використовую щодня!</h3>
        <p class="feed-name">Анна</p>
      </li>
      <li class="feed-item">
        <div class="star-wrap">
          <ul class="star-list">
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="feed-text">Відмінна якість матеріалів, приємно здивована.</h3>
        <p class="feed-name">Ігор</p>
      </li>
      <li class="feed-item">
        <div class="star-wrap">
          <ul class="star-list">
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="feed-text">Сумка повністю відповідає опису, рекомендую!</h3>
        <p class="feed-name">Олена</p>
      </li>
      <li class="feed-item">
        <div class="star-wrap">
          <ul class="star-list">
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="star-icon chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="feed-text">Швидка доставка та гарне обслуговування.</h3>
        <p class="feed-name">Сергій</p>
      </li>
    </ul>
  </div>
</section>