<footer class="footer">
    <div class="container footer-text-container">
        <div class="footer-nav-social-menu">
            <nav class="footer-nav">
                <a href="/index.html" class="footer-logo">
                    <svg class="footer-logo-icon">
                        <use href="/img/logo.svg#icon-logo"></use>
                    </svg>
                </a>
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li><a href="#about" class="footer-menu-link">Про нас</a></li>
                        <li><a href="#advantages" class="footer-menu-link">Переваги</a></li>
                        <li><a href="#assortment" class="footer-menu-link">Асортимент</a></li>
                        <li><a href="#gallery" class="footer-menu-link">Галерея</a></li>
                        <li><a href="#feedback" class="footer-menu-link">Відгуки</a></li>
                        <li><a href="#support" class="footer-menu-link">Контакти</a></li>
                    </ul>
                </div>
            
            </nav>
            <div class="footer-social-links">
                    <ul class="footer-social-links-list">
                        <li class="footer-social-links-list-item">
                            <a href="https://www.instagram.com/" class="footer-social-icon" target="_blank">
                                <svg class="footer-social-icon-unit">
                                    <use href="/img/icon.svg#icon-Instagram"></use>
                                </svg>
                                                        </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" class="footer-social-icon" target="_blank">
                                <svg class="footer-social-icon-unit">
                                    <use href="/img/icon.svg#icon-LinkedIn"></use>
                                </svg>
                                                       </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/" class="footer-social-icon" target="_blank">
                                <svg class="footer-social-icon-unit">
                                    <use href="/img/icon.svg#icon-Youtube"></use>
                                </svg>
                                                    </a>
                        </li>
                    </ul>
                </div>
        </div>
        <address class="footer-address">
            <!-- <div class="footer-address-container"> -->
                <ul class="footer-address-list">
                    <li><a href="tel:+380999091122" class="footer-address-list-item">+38 (099) 909 11 22</a></li>
                    <li><a href="mailto:hello@ecotote.com" class="footer-address-list-item">hello@ecotote.com</a></li>
                </ul>
            <!-- </div> -->
            
        </address>
        <p class="footer-copyright">&copy; 2025 EcoTote. Всі права захищені.</p>
    </div>
    </footer>
