<section class="gallery">
  <div class="container gallery-container-wrap">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-text">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-list">
      <li class="gallery-item gal-img-bag">
        <div class="gallery-cover-img gl-item-one-bag">
          <picture>
            <source
              srcset="
                /img/gallery/ecobag-desc-min.jpg    1x,
                /img/gallery/ecobag-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="421"
            />
            <source
              srcset="
                /img/gallery/ecobag-tab-min.jpg    1x,
                /img/gallery/ecobag-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="340"
            />
            <source
              srcset="
                /img/gallery/ecobag-mobile-min.jpg    1x,
                /img/gallery/ecobag-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gl-image-ecobag"
              src="/img/gallery/ecobag-desc-min.jpg"
              alt="ecobag"
              width="421"
              height="421"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-item gal-img-guy">
        <div class="galery-cover-img gl-item-two-guy">
          <picture>
            <source
              srcset="
                /img/gallery/black-guy-desc-min.jpg    1x,
                /img/gallery/black-guy-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="865"
            />
            <source
              srcset="
                /img/gallery/black-guy-tab-min.jpg    1x,
                /img/gallery/black-guy-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="700"
            />
            <source
              srcset="
                /img/gallery/black-guy-mobile-min.jpg    1x,
                /img/gallery/black-guy-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gl-image-black-guy"
              src="/img/gallery/black-guy-desc-min.jpg"
              alt="black-guy"
              width="421"
              height="865"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-item gal-img-lady-garden">
        <div class="gallery-cover-img gl-item-three-lady-back">
          <picture>
            <source
              srcset="
                /img/gallery/lady-from-back-desc-min.jpg    1x,
                /img/gallery/lady-from-back-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="865"
            />
            <source
              srcset="
                /img/gallery/lady-from-back-tab-min.jpg    1x,
                /img/gallery/lady-from-back-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="700"
            />
            <source
              srcset="
                /img/gallery/lady-from-back-mobile-min.jpg    1x,
                /img/gallery/lady-from-back-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gl-image-lady-from-back"
              src="/img/gallery/lady-from-back-desc-min.jpg"
              alt="lady-from-back"
              width="421"
              height="865"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-item gal-img-lady-front">
        <div class="gallery-cover-img gl-item-four-lady-front">
          <picture>
            <source
              srcset="
                /img/gallery/lady-front-desc-min.jpg    1x,
                /img/gallery/lady-front-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="421"
            />
            <source
              srcset="
                /img/gallery/lady-front-tab-min.jpg    1x,
                /img/gallery/lady-front-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="340"
            />
            <source
              srcset="
                /img/gallery/lady-front-mobile-min.jpg    1x,
                /img/gallery/lady-front-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gl-image-lady-front"
              src="/img/gallery/lady-front-desc-min.jpg"
              alt="lady-front"
              width="421"
              height="421"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
