<section class="hero-section">
  <div class="container">
    <div class="hero-text-container">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
      <div class="hero-text-wrapper">
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <button class="hero-button">
          <a href="#assortment">Купити зараз</a>
        </button>
      </div>
    </div>
    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width: 1440px)"
        srcset="/img/hero/hero-desctop.png 1x, /img/hero/hero-desctop@2x.png 2x"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="/img/hero/hero-tablet.png 1x, /img/hero/hero-tablet@2x.png 2x"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="/img/hero/hero-mobile.png 1x, /img/hero/hero-mobile@2x.png 2x"
      />
      <img src="/img/hero/hero-mobile.png" alt="bags" />
    </picture>
  </div>
</section>
