<section id="support" class="support">
  <div class="container">
    <div class="support__wrap">

      <div class="support__content">
        <h2 class="support__title">
          Залишились питання?<br>Зв'яжіться з нами!
        </h2>
        <p class="support__subtitle">Ми тут, щоб допомогти!</p>

        <form class="support__form" novalidate>
          <div class="support__field">
            <label class="support__label" for="name">Ім’я</label>
            <input id="name" name="name" class="support__input"
                   type="text" minlength="5" maxlength="64"
                   placeholder="Іван" autocomplete="name" required />
            <span class="support__error">Ім’я 5‒64 символів</span>
          </div>

          <div class="support__field">
            <label class="support__label" for="mail">Електронна пошта</label>
            <input id="mail" name="email" class="support__input"
                   type="email" autocomplete="email"
                   pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                   placeholder="hello@ecotote.com" required />
            <span class="support__error">Введіть коректний email</span>
          </div>

          <div class="support__field">
            <label class="support__label" for="msg">Повідомлення</label>
            <textarea id="msg" name="message" class="support__textarea"
                      maxlength="500" rows="6"
                      placeholder="Введіть своє повідомлення…"></textarea>
            <span class="support__error">Макс. 500 символів</span>
          </div>

          <button class="support__btn" type="submit">Надіслати</button>
        </form>
      </div>

      <img
        class="support__photo"
        src="img/support/support-mobile-1x.jpg"
        srcset="
          img/support/support-mobile-2x.jpg   2x,
          img/support/support-tablet-1x.jpg   768w,
          img/support/support-desktop-1x.jpg 1440w"
        alt="Еко-торба з листям" />
    </div>
  </div>
</section>
