.advanteges {
  padding: 32px 0;
  margin: 0 auto;
}

.adv-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #030a06;
  margin-bottom: 12px;
}

.adv-title {
  margin-bottom: 20px;
}

.adv-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 48px;
}

.adv-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.adv-item h4 {
  font-size: 24px;
  font-family: 'Comfortaa', sans-serif;
  margin-bottom: 4px;
  color: #030a06;
}

.adv-item p {
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.adv-item img {
  border-radius: 32px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .advanteges {
    padding: 64px 0;
  }
  .adv-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }

  .adv-item h4 {
    margin-top: 32px;
  }

  .adv-list .adv-item {
    width: calc(50% - 12px);
  }
  .adv-list .adv-item:last-child {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .adv-list {
    flex-wrap: nowrap;
  }

  .adv-title {
    font-size: 48px;
  }

  .adv-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .adv-item h4 {
    margin-bottom: 24px;
    max-width: 320px;
  }
  .adv-text {
    max-width: 768px;
  }
  .adv-list .adv-item {
    flex: 1;
  }
}
