.gallery {
  background-color: #ebf8ed;
}

.gallery-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.gallery-cover-img {
  border-radius: 32px;
  overflow: hidden;
  height: auto;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .gallery-title {
    margin-bottom: 24px;
  }

  .gallery-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 24px;
  }

  .gal-img-bag {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .gal-img-guy {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .gal-img-lady-garden {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(421px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }
  .gallery-title {
    font-size: 48px;
  }

  .gal-img-bag {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .gal-img-guy {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .gal-img-lady-garden {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
  }
}
