.support {
    padding-top: 32px;
    padding-bottom: 32px;
}

.background-image {
    background-image: url(/img/support/support-mobile-1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 288px;
    height: 428px;
    border-radius: 40px;
}


@media screen and (min-resolution: 2x) {
    .background-image {
        background-image: url(/img/support/support-mobile-2x.jpg);
    }
}

.support-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    max-width: 288px;
    margin-bottom: 24px;
}

.support-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 32px;
}

.support-field {
    margin-bottom: 24px;
}

.support-label {
    line-height: 1.6;
    display: block;
    margin-bottom: 8px;
}

.support-item {
    width: 288px;
    height: 42px;
    border: 1px solid rgba(3, 10, 6, 0.15);
    border-radius: 6px;
    padding: 8px 12px;
    background-color: rgba(3, 10, 6, 0.05);
    outline: transparent;

    line-height: 1.6;
}

.support-item::placeholder {
    line-height: 1.6;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-invalid,
.text-valid {
    font-size: 12px;
    line-height: 1.6;
    display: none;
}

.text-invalid {
    color: #d64040;
}

.text-valid {
    color: #75D281;
}

.support-item:not(:placeholder-shown):invalid {
    border-color: #d64040;
}

.support-item:not(:placeholder-shown):valid {
    border-color: #75D281;
}

.support-item:not(:placeholder-shown):invalid~.text-invalid {
    display: block;
}

.support-item:not(:placeholder-shown):invalid~.text-valid {
    display: block;
}

.support-item:hover::placeholder,
.support-item:focus::placeholder {
    opacity: 0;
}

.support-textarea {
    height: 180px;
    resize: none;
}

.support-btn {
    border: 1px solid #030a06;
    border-radius: 6px;
    max-width: 288px;
    height: 50px;
    padding: 12px 106px;
    text-align: center;
    display: block;
    margin: 0 auto;

    line-height: 1.6;
    color: #fff;
    background-color: #030a06;
    opacity: 1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.support-btn:hover,
.support-btn:focus {
    background: #030a06;
    opacity: 0.5;
}




@media screen and (min-width: 768px) {
    .support {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .container.supp-container {
        margin-bottom: 24px;
    
    }

    .background-image {
        background-image: url(/img/support/support-tablet-1x.jpg);
        width: 704px;
    }

    @media screen and (min-resolution: 2x) {
        .background-image {
            background-image: url(/img/support/support-tablet-2x.jpg);
        }
    }

    .support-title {
        max-width: 468px;
    }

    .support-item {
        width: 704px;
    }

    .support-btn {
        margin: 0;

        padding: 12px 86px;
        min-width: 249px;
    }
}

@media screen and (min-width: 1440px) {
    .container.supp-container {
        display: flex;
        flex-wrap: wrap ;
        gap: 24px;
    }

    .background-image {
        background-image: url(/img/support/support-desktop-1x.jpg);
        width: 644px;
        height: 767px;
    }

    @media screen and (min-resolution: 2x) {
        .background-image {
            background-image: url(/img/support/support-desktop-2x.jpg);
        }
    }

    .support-title {
        font-size: 48px;
        max-width: 644px;
    }

    .support-item {
        width: 644px;
    }

    .support-btn {
        margin: 0;
        padding: 12px 61px;
        min-width: 198px;
    }
}